@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**:before,*/
/**:after {*/
/*  box-sizing: inherit;*/
/*}*/

html,body {   
    position: relative;
    background-color: white;
}

/* NAVBAR SECTION*/
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(161, 178, 179);
    padding: 15px;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Libre Franklin';
    color: rgb(55, 58, 59);
    font-weight: 100;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
    margin-left: 20px;
}

.list {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar a:hover {
    text-decoration: none;
    color: inherit;
    font-family: 'Libre Franklin';
    color: white;
    font-weight: 200;
    font-size: 18px;
}

#logo {
    display: block;
    font-weight: 300;
    font-family: 'Libre Franklin';
    color: rgb(66, 70, 71);
    font-size: 20px;
    margin-right: auto;
}

#toggler,
.navbar label {
    display: none;
}

.navbar img {
    margin-left: 100px;
    opacity: .5;
    transition: transform .5s;
}

.navbar img:hover {
    outline: 1em;
    border: 1px solid rgb(162, 174, 175);
    padding: 2px;
    border-radius: 5px;
    width: 30px;
    transform: rotate(90deg)
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        align-items: center;
        padding: 20px;
    }
    #logo {
        display: none;
    }
    .navbar img {
        margin: 0;
    }
    .navbar label {
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-end;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}

/* Introduction section */
.introduction {
    animation: backgroundImage 10s ease 1;
    background-image: url('/Images/artem-sapegin-b18TRXc8UPQ-unsplash.jpg');
    background-attachment: fixed;
    background-size: 1500px 800px;
    opacity: 0.9;
    position: relative;
    top: 0;
    width: 100vw;
    height: 800px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

@keyframes backgroundImage {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.introduction h2{
    font-family: 'Special Elite', 'Libre Franklin';
    font-weight: 500;
    font-size: 70px;
    padding-bottom: 2%;
    z-index: 2;
    color: black;
    animation: intro 4s ease-in 0s 1 normal forwards;
  }

  /* ANIMATION INTRO */
  @keyframes intro {

    0% {
    top: 200px;
    left: 0;
    color: transparent;
    }

    20% {
    top: 200px;
    left: 0;
    opacity: transparent;
    }
    60% {
    top: 200px;
    left: 0;
    color: 0.8;
    }
    100% {
    top: 200px;
    left: 0;
    }
}

.introduction p {
    font-family: 'Special Elite';
    font-size: 60px;
    color: black;
    animation: para1 6s ease-in 0s 1 normal backwards;
    padding-bottom: 50px;
}

/* ANIMATION PARA1 */
@keyframes para1 {

    0% {
        top: 250px;
        left: 0;
        color: transparent;
    }
    60% {
        top: 250px;
        left: 0;
        color: transparent;
    }
    80% {
        top: 250px;
        left: 0;
        color: 0.8;
    }
    100% {
        top: 250px;
        left: 0;  
    }
}

/* ABOUT SECTION */
.about {
    background: url(/Images/IMG_20180710_151246.jpg) 0 0 / cover no-repeat;
    background-attachment: fixed;
    background-size: 1500px 750px;
    opacity: .8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    line-height: 70px;
    font-weight: 900;

    text-transform: uppercase;
    padding: 0 100px 0 100px;
    color: rgb(44, 44, 44);
    font-family: 'Special Elite','Libre Franklin', 'M PLUS Rounded 1c';
    display: flex;
    flex-direction: column;
    position: relative; 
    left: 0;
    top: 0;
    margin: 0;
    text-align: center;
    height: 900px;
}

.cv-button {
    color: rgb(44, 44, 44);
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 10px;
    padding: 10px;
}

.cv-button:hover {
    background-color: rgb(44, 44, 44);
    color: white;
    cursor: pointer;
}

/* HR STYLING to break up sections */

hr {
    background-color: white;
    color: rgb(70, 77, 77);
    border: dotted 6px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 4%;
    margin: auto;
    opacity: .7;
}

.about hr {
    background-color: rgb(162, 181, 183);
    border: dotted 6px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 4%;
    margin: auto;
    opacity: .7;
}

/* ARROW ANIMATION */
.arrow{
    position: absolute;
    top: 80%;
    left: 50%; 
    transform: translate(-50%,-50%);
    width:50px;
    height:50px;
    transform:rotate(360deg);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #151515;
    border-right: 5px solid #3c3c3c;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    }

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
} 
/* PROJECTS SECTION */

.projects-title {
    background-color: rgba(162, 181, 183, .5);
    margin: auto;
    text-align: center;
    color: black;
    font-family: 'Special Elite','Libre Franklin';
    font-size: 50px;
    padding: 100px 0 105px 0;
}

.projects {
    background-color: rgba(162, 181, 183, .5);
    font-family: 'Special Elite','Libre Franklin';
    position: relative;
    top: 0;
    width: 100vw;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, 50px);
    gap: 10rem 1rem;
    margin: 0;
    line-height: 2em;
}

.project-one-img {
    border: 2px solid rgb(68, 67, 67);
    width: 400px; 
    padding: 10px;
    margin-left: 100px;
    grid-column: 1 / 2;
    grid-row: 1;
    border-radius: 40px;
}

#code{
    grid-column: 1;
    grid-row: 3;
    gap: 0;
    color: black;
    background-color: white;
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 7px;
    padding: 0;
    margin-left: 160px;
    font-size: 15px;
    width: 100px;
    height: 40px;
}

#live{
    position: absolute;
    top: 0;
    grid-column: 1;
    grid-row: 3;
    color: black;
    background-color: white;
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 7px;
    padding: 0;;
    margin-left: 330px;
    font-size: 15px;
    width: 100px;
    height: 40px;
}
.projects h3 {
    padding-top: 100px;
    grid-column: 2 / 3;
    grid-row: 1;
    gap: 1rem;
    margin-right: 140px;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Special Elite','Libre Franklin';
}
.project-one-text {
    padding: 0 50px;
    grid-column: 2 / 3;
    grid-row: 2;
    gap: 0;
    margin-right: 140px;
    color: black;
    font-size: 20px;
    text-align: center;
}
.project-two-text {
    padding: 0 50px;
    grid-column: 1 / 2;
    grid-row: 5;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
}
#project-two {
    /* padding-top: 100px; */
    margin-left: 40px;
    grid-column: 1 / 2;
    grid-row: 4;
    gap: 1rem;
    margin-right: 40px;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Special Elite','Libre Franklin';
}
 .project-two-img { 
    border: 2px solid black;
    width: 400px; 
    padding: 10px;
    grid-column: 2 / 3;
    grid-row: 4;
    border-radius: 40px;
    margin-left: 80px;
} 
#code-two{
    position: absolute;
    top: 0;
    grid-column: 2;
    grid-row: 6;
    gap: 0;
    color: black;
    background-color: white;
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 7px;
    padding: 0;
    margin-left: 150px;
    font-size: 15px;
    width: 100px;
    height: 40px;
}
#live-two{
    position: absolute;
    top: 0;
    grid-column: 2;
    grid-row: 6;
    color: black;
    background-color: white;
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 7px;
    padding: 0;
    margin-left: 310px;
    font-size: 15px;
    width: 100px;
    height: 40px;
}

.project-three-img {
    border: 2px solid black;
    width: 400px; 
    height: 500px;
    padding: 10px;
    margin-left: 100px;
    grid-column: 1 / 2;
    grid-row: 7;
    border-radius: 40px;
}
#code-three{
    position: absolute;
    top: 160px;
    left: 170px;
    grid-column: 1;
    grid-row: 9;
    gap: 0;
    color: black;
    background-color: white;
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 7px;
    padding: 0;
    margin-left: 0;
    font-size: 15px;
    width: 100px;
    height: 40px;
}
#live-three{
    position: absolute;
    top: 160px;
    left: 340px;   
    grid-column: 1;
    grid-row: 9;
    color: black;
    background-color: white;
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 7px;
    padding: 0;
    /*margin-left: 350px;*/
    font-size: 15px;
    width: 100px;
    height: 40px;
}
.project-three-text {
    padding: 0 50px;
    grid-column: 2 / 3;
    grid-row: 8;
    margin-right: 140px;
    color: black;
    font-size: 20px;
    text-align: center;
}
#project-three {
    grid-column: 2 / 3;
    grid-row: 7;
    padding: 0 50px;
    gap: 0;
    margin-top: 100px;
    margin-right: 140px;
    color: black;
    text-align: center;
    font-size: 30px;
}

.project-button:hover {
    cursor: pointer;
}

#live-three:hover, 
#code-three:hover,
#live-two:hover, 
#code-two:hover,
#code:hover, #live:hover {
    background: grey;
}

/* SKILLS SECTION */

.languages {
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 0;
    padding: 50px;
    width: 100vw;
    height: 750px;
}

.languages h2 {
    margin: auto;
    text-align: center;
    color: rgb(68, 67, 67);
    font-family: 'Special Elite','Libre Franklin';
    font-size: 40px;
}

.languages .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    width:  100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.icons i {
    color: black;
    background-color: white;
    border-radius: 50%;
    font-size: 100px;
    padding: 35px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

.icons i:hover {
    color: rgb(95, 158, 160);
    font-size: 130px;
    transform: rotate(360deg);
} 

/* CONTACT SECTION */
.contactMe {
    background:   
    -webkit-linear-gradient(-65deg, rgba(229, 228, 228) 45%, rgb(162, 181, 183) 0%); 
    color: rgb(44, 44, 44);
    font-family: 'Special Elite','Libre Franklin';
    font-size: 20px;
    position: relative;
    width: 100vw;
    margin: auto;
    height: 700px;
    z-index: 1000;   
    overflow: visible;
}

.contactMe h2 {
    margin: auto;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 40px;
}

.contactMe h4 {
    margin-left: 5%; 
} 

.contactMe p {
    padding-bottom: 20px;
    margin-left: 2%;
}

.contactMe input {
    outline: none;
    font-family: 'Special Elite';
    background-color: rgb(229, 228, 228);
    padding: 5px;
    margin-left: 5%;
    margin-top: 0;
    width: 40vw;
    border: 1px 1px grey;
    box-shadow: none;
}

.contactMe textarea {
    width: 40vw;
    font-family: 'Special Elite';
    background-color:  rgb(229, 228, 228);
    margin-left: 5%;
    outline: none;
    padding: 5px;
 } 

 .contactMe button {
    color: rgb(44, 44, 44);
    font-family: 'Special Elite','Libre Franklin','M PLUS Rounded 1c';
    border-radius: 10px;
    padding: 10px; 
}

.contactMe button:hover {
    background-color: rgb(44, 44, 44);
    color: white;
    cursor: pointer;
}

h3{
    border-radius: 20px;
    font-family: 'Work Sans';
    font-size: 70px;
    height: 80px;
    color: rgb(44, 44, 44);
    cursor: pointer;
    outline: none;
}

.waysToContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, 50px);
    gap: 4rem;
}


.waysToContact .one {
    grid-column: 1 / 2;
    grid-row: 1;
    text-indent: 30px;
}

.waysToContact .two {
    grid-column: 1 / 2;
    grid-row: 2;
    text-indent: 30px;
}

.waysToContact .three {
    grid-column: 1 / 2;
    grid-row: 3;
    text-indent: 30px;
}

.waysToContact .four {
    padding: 25px;
    line-height: 150%;
    grid-column: 3 / 5;
    grid-row: 2;
}

.waysToContact .four img{
    margin-left: 20px;

}

.waysToContact .four img:hover{
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.waysToContact .five {
    grid-column: 2;
    grid-row: 5;
}
 
.waysToContact button {
    color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    height: 40px;
}

.cv-button:hover {
    background-color: rgb(44, 44, 44);
    color: white;
    cursor: pointer;
}



/* FOOTER SECTION*/
.footer {
    /* background-color: rgba(142, 98, 136, 0.6); */
    background-color: rgb(95, 125, 126);
    position: absolute;
    margin: auto;
    padding-bottom: 0;
    text-align: center;
    width: 100vw;
    height: 100px;
}

.footer p {
    color: black;
    font-size: 20px;
    font-family: 'Special Elite', 'Libre Franklin';
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
    
    .waysToContact .five p{
        margin-bottom: 0;
    }
    .waysToContact .four img:hover{
        width: 25px;
        height: 25px;
    }
    .waysToContact .four img{
        width: 20px;
        height: 20px;
    }
    .waysToContact .two h4 {
        margin-top: 15px;
    }
    .waysToContact .three h4 {
        margin-top: 30px;
    }
    .contactMe {
        font-weight: bold;
        font-size: 20px;
        height: 500px;
        width: 100vw;
        position: relative; 
        margin: 0;
        padding: 0;
    }
    
    .languages h2{
        font-size: 30px;
    }
    .waysToContact {
        gap: 1rem;
        margin-top: 5px;
    }
    .myProjectsTitle{
        font-size: 30px;
    }
    .footer {
    height: 70px;
    }
}

@media (max-width: 900px) {
    .introduction {
    height: 400px;
    }
}  

@media (min-width: 480px) and (max-width: 920px) { 

    .introduction p {
        font-size: 30px;
    }
    .introduction h2, 
    .about h1       {
    font-size: 40px;
    }
    .about {
        height: 700px;
        padding: 30px;
    line-height: 40px;
    font-weight: 700;
    
    }
    .about p {
        font-size: 20px;
    }
    
    .projects-title {
        font-size: 35px;
    }
    .projects {
        width: 100vw;
        grid-auto-rows: minmax(10px, 50px);
        gap: 6rem 1rem;
        height: 1400px;
    }
    .project-one-img,
    .project-three-img {
        width: 300px;
        margin-left: 20%;
        padding: 0;
    }
    .project-two-img {
        grid-column: 1 / 2;
        grid-row: 4;
        width: 300px;
        margin-right: 20px;
        padding: 0;
    }
    .project-three-img{
        height: 390px;
    }
    .project-one-text,
    .project-three-text {
        font-size: 15px;
        width: 350px;
        margin-right: 30px;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    .project-two-text {
        grid-column: 2 / 3;
        grid-row: 4;
        font-size: 15px;
        width: 350px;
        margin-left: 30px;
        margin-top: 0px;
        
    }
    #project-three {
        font-size: 20px;
        margin-top: 75px;
        margin-bottom: 0;
    }
    #project-two, 
    .projects h3 {
        font-size: 20px;
        margin-top: 0;
    }

    #code {
        margin-left: 50px;
    }
    #code-three {
        position: absolute;
        top: 120px;
        left: 50px;
    }
     #live {
         margin-left: 190px;
     }
    #live-three {
        position: absolute;
        top: 120px;
        left: 190px;
    }
     
    #code-two {
         margin-left: 110px;
         position: absolute;
         top: 10px;
     }
     
     #live-two {
         margin-left: 250px;
         position: absolute;
         top: 10px;
     }
    
    .waysToContact .four p, 
    .myProjectsTitle p, 
    .footer p       {
    font-size: 15px;
    }
    .contactMe h2,
    .languages h2,
    .myProjectsTitle h2 {
        font-size: 30px;
    }
    .contactMe p {
        font-size: 20px;
    }
}
